@import "tailwindcss";

@theme {
  --color-un-blue: #009EDB;
  --color-un-dark: #0077B6;
  --color-africa-ochre: #DAA520;
  --color-africa-terracotta: #CC5500;
}

@layer utilities {
  .bg-pattern-african {
    background-image: radial-gradient(#DAA520 0.5px, transparent 0.5px), radial-gradient(#DAA520 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    opacity: 0.05;
  }

  .border-kente {
    border-image: repeating-linear-gradient(
      45deg,
      #DAA520,
      #DAA520 10px,
      #CC5500 10px,
      #CC5500 20px,
      #009EDB 20px,
      #009EDB 30px
    ) 10;
  }
}
